@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: 'roboto', sans-serif;
    font-size: 12px;  
}

/*---------------------------------Header --------------------------------*/
header{
    width: 100vw;
    background-color:#EAC926;
    padding-top: 10px; 
}

 header section{
     width: 100%;
     display: flex;
     flex-wrap: wrap;

}

header section .logo{
    width: 30%;
    padding: 10px;
    min-width: 75px;
 
}

header section form{
    width: 70%;
    margin:auto;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
}

header section form button{
    width: 15%;
    height: 30px;
    background-color: white;
    border: none;
    border-radius: 0 10px 10px 0;
    color: #666;
}

header section form input{
    width: 85%;
    height: 30px;
    border: none;
    border-radius: 10px 0 0 10px;
    padding: 10px;
}

header section div {
    width: 100vw;
    display: flex;
    justify-content: center;
    padding: 10px;
}

header section div  i{
    padding-right: 5px;
    display: block;
}

header section div p{
font-size: 12px;
display: block;
}

header nav{
    display: none;
}

header nav ul{
    list-style: none;
    margin-top: 10px;;
    margin-bottom: 10px;
}

header nav ul li a{
    text-decoration: none;
    color: black;
    font-size: 12px;
    display: flex;
    text-align: center;
}

header nav ul li a i{
    padding-left: 5px;
}

header section .burger-menu{
    display: block;
    margin: auto;
    background-color:#1259c3 ;
    width: 30px;
    height: 30px;
    color: white;
    border-radius: 5px;
    padding: 7px;
    font-size: 16px;
    margin-bottom: 10px;

   
}

 header section .homeBanner{
     width: 100%;
     
}

/*----------------------------------main Home-------------------------------*/
main{
    padding-bottom: 30px;
    justify-content: center;
    background-color: #ebebeb;

}

main section h2{
    font-size: 24px;
    text-align: center;
    padding-bottom: 10px;
    padding-top: 10px;
}
main section article{
    width: 90vw;
    display: flex;
    flex-direction: column;
    align-items: center; 
    margin:auto;
    margin-bottom:10px ;
    background-color: white;
}

main section article img{
    width: 90vw;
}

main section article .descripcion{
    border: 1px solid #ebebeb;
    width: 90vw;
    padding:15px;
    display: flex;
    position: relative;
}

main section article .descripcion i{
    padding: 5px;;
    border: 1px solid #39b54a;
    border-radius: 50%;
    color: #39b54a;
    width: 30px ;
    height: 30px;
    display: block;
    position: absolute;
    right: 20px;
    top:-15px;
      
}

main article .precio{
    font-size: 18px;
    width: 30%;
    display: block;
    text-align: left;
}

main article .descuento{
    color: #39b54a;
    width: 70%;
    display: block;
    text-align: center;
}

main article .descuento, p{
    font-size: 16px;
   
}

main section article .descripcion p strong{
    display: none;
}

/*-----------------------------Main Register------------------------------*/
main section form{
    width: 90vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 14px;
}
main section form .form-title{
    text-align: center;
    margin: 10px;
}

main section form label{
    width: 75%;
    font-weight: bold;
    display: flex;
    align-items: center;
    margin-top: 10px;

}

main section form input{
    display: flex;
    border: white;
    width: 75%;
    height: 30px;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
}

main section form #perfilUsuario{
    width: 15px;
    height: 15px;

}

main section form #categorias{
    width: 15px;
    height: 15px;
}

main section form #foto{
height: 40px;
margin: 0;
}

main section form div{
    width: 75%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
main section form div label{
    width: 30%;

}
main section form div button{
    background-color:#1259c3 ;
    color: white;
    width: 30%;
    height: 30px;
    border-radius: 10px;
    border: none; 
    margin:5px; 
    min-width: 100px;
}
main section form div button:hover{
    background-color: #0022AA;
}
/*----------------------------- footer--------------------------------------*/
footer{
    display: flex;
    justify-content: space-around;
    padding: 10px;
}
footer article{
    padding-bottom: 30px;
    width: 90vw;
    text-align: center;
}

footer article i{
    font-size: 2em;
    margin-bottom: 10px;
    color: #1259c3;
}

/*------------------------------media query tablet-------------------------*/
@media (min-width:481px){

/*---------------------------------Header --------------------------------*/
    header section form{
        width: 35%;
    }


    header section #frase {
        width: 30%;
        margin: auto;
    }
  
    header section nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    }

    header section nav ul{
        display: flex;
     }

    header section nav ul li{
        padding: 5px;
    }

    header section .burger-menu{
            display: none;
    }

/*---------------------------------Main --------------------------------*/

main section{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
main section h2{
    width: 90vw;
    text-align: left;
}
main section article{
    width: 45vw;
    flex-wrap: wrap;
    align-items: stretch;

}

main section article img{
    width: 45vw;
}

main section article .descripcion{
    width: 45vw;
    flex-wrap: wrap;
}

main section article .descripcion p strong{
    display: none;
    padding-top: 10PX;
    text-align: left;

}


}
/*------------------------------media query computador-------------------------*/
@media (min-width:769px){

    main section article{
        width: 22.5vw;
        flex-wrap: wrap;
        align-items: stretch;
    
    }
    
    main section article img{
        width: 22.5vw;
    }
    
    main section article .descripcion{
        width: 22.5vw;
        flex-wrap: wrap;
    }

    main section article:hover{
        box-shadow : 0px 0px 10px rgb( 100 , 100 , 100 ); 
    }

    main section article:hover .descripcion i{
        transform: rotate(-90deg);
    }
    main section article:hover p strong{
        display: block;
    }

/*----------------------------------footer pc----------------------------*/

footer section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

footer section article{
    width: 30vw;
}

footer  #copy{
display: block;
width: 90vw;
margin: auto;
text-align: center;
}

footer section article i:hover{
    color:#EAC926;
}
}



